body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Menambahkan overflow-x: hidden untuk mengatasi tampilan pada perangkat seluler */
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #1d1d1d;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Navigation */
.navbar {
    background-color: #49391c;
    padding: 1rem 0;
    position: relative;
    z-index: 1000; /* Menambahkan z-index yang lebih tinggi */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar-toggler {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.navbar-toggler:hover {
    background-color: #5f5346ba;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
}

.navbar-menu {
    background-color: #49391c;
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #a0b0c2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #38414a;
        top: 70px;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
    }

    .navbar-menu.active {
        display: flex;
        background-color: #3a2617;
        text-align: center;
        width: 20%;
        opacity: 0;
        animation: fadeIn 2s forwards;
    }

    .navbar-toggler {
        display: block;
        z-index: 2;
        transition: background-color 0.3s;
    }

    .navbar-toggler.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .navbar-toggler.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggler.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .navbar-nav {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-item {
        margin: 5px 7;
    }
}

/* Header */
.masthead {
    background: linear-gradient(to bottom, rgba(139, 69, 19, 0.8) 0%, rgba(139, 69, 19, 0.8) 100%), url('kamera.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
    opacity: 0;
    animation: fadeIn 2s forwards;
    position: relative; /* Tambahkan properti position */
    z-index: 999; /* Tambahkan z-index yang tinggi */
}

.header-content {
    max-width: 600px;
    margin: 0 auto;
}

.header-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.header-subtitle {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.btn-primary {
    background-color: #2e2a2a;
    color: #fefefe;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color: #2a2c31a4;
    color: #ffffff;
}

/* About */
.about-section {
    background: linear-gradient(to bottom, rgba(69, 49, 34, 0.8) 0%, rgba(84, 49, 24, 0.8) 100%), url('kamera4.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.divider.divider-light {
    border-color: #fff;
    background-color: #fff;
    height: 0.001rem;
    width: 20rem;
    margin: 1rem auto;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.section-description {
    font-size: 1.1rem;
    margin-bottom: 3rem;
}

/* Portfolio */
.container-fluid {
    background: linear-gradient(to bottom, rgba(68, 62, 58, 0.626) 0%, rgba(50, 44, 41, 0.829) 100%), url('kamera2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.section-port {
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0.1%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.portfolio-row {
    margin-top: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff00;
    text-align: center;
    padding: 2rem;
}

.portfolio-item {
    width: calc(33.333% - 1rem);
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.portfolio-box {
    position: relative;
    display: block;
    overflow: hidden;
    border: 0.1rem solid #fff;
    border-radius: 0.01rem;
    transition: transform 0.3s;
}

.portfolio-box:hover {
    transform: scale(1.05);
}

.portfolio-box img {
    width: 100%;
    height: auto;
}

/* Responsif untuk gambar potret */
@media (max-width: 767px) {
    .portfolio-item {
        width: calc(50% - 1rem);
    }
}

/* Contact */
.contact-section {
    background-color: #888888;
    padding: 5rem 0;
}

.contact-content {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form {
    margin-top: 2rem;
}

/* Footer */
footer {
    background-color: #48494a;
    padding: 3rem 0;
    text-align: center;
    color: #fff;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 60px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .navbar-toggler {
        display: block;
    }

    .portfolio-item {
        width: calc(50% - 1rem);
    }
}
